<div class="container">
    <div class="row">


      <!-- Salé -->        
      <div class="col-md-6 mt-5">
        <div class="effect">
          <%= link_to home_csalee_path, class: "text", :action => 'go' do %>
            <%= image_tag("11.png", class:"image") %>      
            <div class="bg-dark bg">         
              <div class="card-body bg-primary text-center bouton">
                <h3 class="mb-0 text">
                  <p style = "font-family:Comic Sans MS">
                    <b>
                      Crêpes salées  
                    </b>
                  </p>       
                </h3>
              </div> 
            </div>               
          <% end %>  
        </div>
      </div>
      

      <!-- Sucré --> 
      <div class="col-md-6 mt-5">
        <div class="effect">
          <%= link_to home_csucree_path, class: "text", :action => 'go' do %>
            <%= image_tag("22.png", class:"image") %>      
            <div class="bg-dark bg">         
              <div class="card-body bg-primary text-center bouton">
                <h3 class="mb-0 text">
                  <p style = "font-family:Comic Sans MS">
                    <b>
                      Crêpes sucrées  
                    </b>
                  </p>       
                </h3>
              </div> 
            </div>               
          <% end %>  
        </div>
      </div>


      <!-- Milkshake --> 
      <div class="col-md-6 mt-5">
        <div class="effect">
          <%= link_to home_milkshake_path, class: "text", :action => 'go' do %>
            <%= image_tag("33.png", class:"image") %>      
            <div class="bg-dark bg">         
              <div class="card-body bg-primary text-center bouton">
                <h3 class="mb-0 text">
                  <p style = "font-family:Comic Sans MS">
                    <b>
                      Milkshake  
                    </b>
                  </p>       
                </h3>
              </div> 
            </div>               
          <% end %>  
        </div>
      </div>


      <!-- Smoothie --> 
      <div class="col-md-6 mt-5">
        <div class="effect">
          <%= link_to home_smoothie_path, class: "text", :action => 'go' do %>
            <%= image_tag("44.png", class:"image") %>      
            <div class="bg-dark bg">         
              <div class="card-body bg-primary text-center bouton">
                <h3 class="mb-0 text">
                  <p style = "font-family:Comic Sans MS">
                    <b>
                      Smoothie  
                    </b>
                  </p>       
                </h3>
              </div> 
            </div>               
          <% end %>  
        </div>
      </div>


    </div>
</div>